# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Environment variables
*.env

# Pytest cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
data/expenses.csv
*.egg-info/

# Logs
*.log

# Build artifacts
dist/
build/

data/*.csv